<%- include('./partials/head') %> <!-- Incluye el head -->
<%- include('./partials/header') %> <!-- Incluye el header -->
<%- include('./partials/sidebar') %> <!-- Incluye el sidebar -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-4">
  <h1>Welcome to the Dashboard</h1>
  <p>Hola <%= user.name %>, ¡bienvenido a tu cuenta!</p>

</main>

<%- include('./partials/footer') %> <!-- Incluye el footer -->
