<%- include('./partials/head') %> <!-- Incluye el head -->
<%- include('./partials/header') %> <!-- Incluye el header -->
<%- include('./partials/sidebar') %> <!-- Incluye el sidebar -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-4">
  <h1>Bienvenido al Dashboard</h1>
  <p>Hola <%= user.name %>, ¡bienvenido a tu cuenta!</p>
  <p>Aquí puedes ver tus habitaciones favoritas y crear nuevas.</p>
  <p>tu email es <%= user.email %></p>
  <!-- Contenido específico de la vista -->
</main>

<%- include('./partials/footer') %> <!-- Incluye el footer -->
