<%- include('partials/header') %>

<h1><%= title %></h1>
<form action="<%= action %>" method="POST">
    <label for="name">Nombre del Hábito:</label>
    <input type="text" id="name" name="name" value="<%= habit ? habit.name : '' %>" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required><%= habit ? habit.description : '' %></textarea>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" value="<%= habit ? habit.category : '' %>" required>

    <label for="startDate">Fecha de Inicio:</label>
    <input type="date" id="startDate" name="startDate" value="<%= habit ? habit.startDate.toISOString().slice(0, 10) : '' %>" required>

    <button type="submit"><%= habit ? 'Actualizar' : 'Crear' %></button>
</form>

<%- include('partials/footer') %>
