<div class="habit-container">
    <% habits.forEach(habit => { %>
        <div class="habit-card">
            <h2><%= habit.name %></h2>
            <p><%= habit.description %></p>
            <p><strong>Categoría:</strong> <%= habit.category %></p>
            <p><strong>Inicio:</strong> <%= habit.startDate.toDateString() %></p>
            <form action="/habits/edit/<%= habit._id %>" method="get">
                <button type="submit">Editar</button>
            </form>
            <form action="/habits/edit/<%= habit._id %>" method="POST">
                <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este hábito?')">Eliminar</button>
            </form>
        </div>
    <% }) %>
</div>

<a href="/habits/new">Crear Nuevo Hábito</a>

