<%- include('../partials/head') %>
<!-- Incluye el head -->
<%- include('../partials/header') %>
<!-- Incluye el header -->
<%- include('../partials/sidebar') %>
<!-- Incluye el sidebar -->

<!-- profile.ejs -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-4">
  <h1>Perfil de Usuario</h1>
  <p><strong>Nombre:</strong> <%= user.name %></p>
  <p><strong>Correo electrónico:</strong> <%= user.email %></p>

  <a href="users/settings">Editar perfil</a>
</main>
