<%- include('../partials/head') %>
<!-- Incluye el head -->
<%- include('../partials/header') %>
<!-- Incluye el header -->
<%- include('../partials/sidebar') %>
<!-- Incluye el sidebar -->

<!-- profile.ejs -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-4">
  <h1>User Profile</h1>
  <p><strong>Name:</strong> <%= user.name %></p>
  <p><strong>Email:</strong> <%= user.email %></p>
</main>
